.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--primary);
  font-weight: 700;
  font-size: 4.5rem;

  margin: 6rem 0;

  &&:hover {
    transition-duration: 200ms;
    cursor: pointer;
    color: var(--primary-dark);
  }
}
